//Разрешения для медиа-запросов
$medium: 1024px;
$big: 1200px;


//Цвета
$white: #ffffff;
$orange: #ff4e2e;
$orangeHover: #ff2700;
$pink: #f82370;
$grey: #8993ad;
$black: #000000;
$overlay: rgba(0, 0, 0, 0.7);
$grey-points: #ebebeb;
$gradient: linear-gradient(to top, #ff8f5a, #ff2f96);
$vkFbBlue: #5d84ae;
$twitterBlue: #00acee;

//Контент 
$star: "\002A";